<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
    <title>New</title>
</head>
<body>
    <h1>Create a Pokemon!</h1>
    <form action="/pokemon" method="POST">
        Name: <input type="text" name="name"><br>
        Image: <input type="text" name="image"><br>

        <button type="submit">Make your Pokemon!</button>
    
    
    </form>
</body>
</html>