<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
    <title>Show</title>
</head>
<body>
    <h1>This is the Pokemon you seek</h1>
    <%= pokemon.name %> <br>
    <img src="<%= pokemon.img %>" alt="">
     <br>
</body>
</html>