<!DOCTYPE html>
<html lang="en">
<head>

        <link href="https://fonts.googleapis.com/css?family=Bubblegum+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Show</title>
</head>
<body>
    <h1>This is the Pokemon you seek</h1>
    <h2 class='pokeach'><%= pokemon.name %> <a href="/pokemon"> <button type="submit">Back to PokeDeck</button></a> 
        <form action="/pokemon/<%= index %>?_method=DELETE" method="POST">
        <button type="submit">Kill this cute little Pokemon</button></form></h2> <br>
    <img src="<%= pokemon.img %>" alt="">
     <br>
</body>
</html>